body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
  
.div1 {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

.titulo {
    color: #fd077;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    color: #ffffff;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
    color: #ffffff;
}


.div4 {
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 1;
    color: #ffffff;
}
